@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@layer search {
  .font-sans {
    font-family: "Open Sans", sans-serif;
  }
  .searchbar {
    @apply p-3  min-h-max w-full rounded-[15px] border-1 border-gray-300  focus:border-[#cfcfcf];
  }
  .search-text {
    @apply font-semibold text-[20px];
  }
  .button-red {
    @apply duration-100 ease-in-out bg-red-500 text-white font-bold w-full   p-5 rounded-[10px] active:bg-red-950 hover:bg-red-700 cursor-pointer;
  }
  .button-blue {
    @apply duration-100 ease-in-out bg-blue-500 text-white font-bold w-full     p-4 rounded-[10px] active:bg-blue-950 hover:bg-blue-700 cursor-pointer;
  }
}

@layer base {
  .layout {
    @apply flex items-center justify-center bg-gradient-to-b from-[#a560ff] to-zinc-900 h-screen;
  }
  .darkmode {
    @apply flex items-center justify-center bg-gradient-to-b from-indigo-900 to-zinc-900 h-screen;
  }
}
@layer user {
  .column1 {
    @apply gap-3 pl-2;
  }
  .Icon {
    @apply w-15 h-15 rounded-full drop-shadow shadow-xl;
  }
}
@layer button {
  .button1 {
    @apply flex items-center justify-start gap-5 duration-300 ease-out hover:scale-105 rounded-[10px] h-15 text-[20px] font-semibold text-left text-gray-800 cursor-pointer;
  }
}
@layer post {
  .Post1 {
    @apply p-5 h-full w-full md:gap-6  rounded-[10px] border-2 font-sans 
              backdrop-blur-lg bg-[#417ecf]/10 border-r border-[#91bcf5]/20 shadow-lg
              transition-all duration-300;
  }
  .post-text {
    @apply font-semibold text-2xl;
  }
}
@layer Friendbar {
  .friendbar {
    @apply p-5 min-h-max w-100 rounded-2xl  gap-3 pl-2;
  }
}
@layer Sidebar {
  .SideBar {
    @apply flex flex-col items-start min-h-full border-r  p-5 gap-4 sticky top-0 h-screen font-sans 
              backdrop-blur-lg bg-[#F3F8FF]/20 border-white/30 shadow-lg
              transition-all duration-300;
  }
  .column {
    @apply flex flex-row items-center gap-3 pl-2;
  }
  h2 {
    @apply font-bold text-[20px];
  }
}
@utility flex-center {
  @apply flex justify-center items-center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
